/* Animated Multi-Mix Gradient Background */
@keyframes multiColorFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-multimix-bg {
  background: linear-gradient(
    -45deg,
    #0b0f19,
    #1b153b,
    #082a36,
    #1e0d29,
    #051c24
  );
  background-size: 400% 400%;
  animation: multiColorFlow 16s ease infinite;
}